In [1]:
import pandas as pd
from sklearn.metrics import mean_absolute_error, r2_score

In [2]:
# Load in csv
homes = pd.read_csv("Resources/All_stats.csv")
homes.head()

,Counties,Units Sold,Units Sold % Chg,Average Price,Price % Chg,Year
0,Allegany County,541,0.055,93125,0.034,2015
1,Anne Arundel County,7909,0.130,361671,0.022,2015
2,Baltimore City,7998,0.067,158067,0.091,2015
3,Baltimore County,9890,0.085,249652,0.053,2015
4,Calvert County,1451,0.150,311314,0.008,2015