In [1]:
# Import the required modules
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

In [2]:
# Read the csv file from the Resources folder into a Pandas DataFrame
file_path = Path("Resources/All_stats.csv")
OG_house_stats_df = pd.read_csv(file_path)

OG_house_stats_df.head()

,Counties,Year,Units Sold,Units Sold % Chg,Average Price,Price % Chg,Increase(1)/Decrease(0)
0,Allegany County,2015,541,0.055,93125,0.034,1
1,Anne Arundel County,2015,7909,0.130,361671,0.022,1
2,Baltimore City,2015,7998,0.067,158067,0.091,1
3,Baltimore County,2015,9890,0.085,249652,0.053,1
4,Calvert County,2015,1451,0.150,311314,0.008,1

In [3]:
house_stats_df = OG_house_stats_df.copy()

house_stats_df = house_stats_df.drop("Counties", axis=1)
house_stats_df.head()

,Year,Units Sold,Units Sold % Chg,Average Price,Price % Chg,Increase(1)/Decrease(0)
0,2015,541,0.055,93125,0.034,1
1,2015,7909,0.130,361671,0.022,1
2,2015,7998,0.067,158067,0.091,1
3,2015,9890,0.085,249652,0.053,1
4,2015,1451,0.150,311314,0.008,1

In [4]:
# Split the data into X (features) and y (target)

# The y variable should focus on the target column
y = house_stats_df['Increase(1)/Decrease(0)']

# The X variable should include all features except the target
X = house_stats_df.drop(columns=["Price % Chg",'Increase(1)/Decrease(0)'])

In [5]:
# Split into testing and training sets using train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [6]:
print(y_train)

124    1
94     1
171    1
76     1
71     1
      ..
102    1
45     1
182    0
128    1
111    1
Name: Increase(1)/Decrease(0), Length: 144, dtype: int64

In [7]:
# Declare a logistic regression model.
# Apply a random_state of 1 to the model
logistic_regression_model = LogisticRegression(random_state=1)

# Fit and save the logistic regression model using the training data
lr_model = logistic_regression_model.fit(X_train, y_train)